.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}
